{{ define "section_content" }}
<!-- <article role="article" class="flex-container" style="margin-bottom: 20%">
    {{ .Content }}
</article> -->

<article role="article" class="flex-container">
    <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
        <iframe src="https://player.vimeo.com/video/512838421" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;" title="L&#39;usure mécanique des roches 2" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
</article>

<div class="grid keep-aspect-ratio" 
    style="grid-template-columns: repeat(2, 1fr)">
    {{ $images := .Resources.Match "*single*.jpg" }}
    {{ range $index, $element := $images }}
    {{ $resized := .Resize $.Params.maxWidth }}
    <div class="grid-image-container">
        <img src="{{ $resized.RelPermalink }}" alt="{{ .Name }}" />
    </div>
{{ end }}
</div>

<article role="article" class="flex-container">
    <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
        <iframe src="https://player.vimeo.com/video/510154086" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;" title="L&#39;usure mécanique des roches 2" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
</article>

<article role="article" class="flex-container">
    <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
        <iframe src="https://player.vimeo.com/video/515414757" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;" title="L&#39;usure mécanique des roches 2" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
</article>

{{ end }}
