{{ define "section_content" }}
<article role="article" class="flex-container">
    {{ .Content }}
</article>

<div class="grid keep-aspect-ratio" 
    style="grid-template-columns: repeat(1, 1fr)">
    
    {{ $image := .Resources.GetMatch "*lines*1.jpg" }}
    {{ $resized := $image.Resize $.Params.maxWidth }}
    <div class="grid-image-container">
        <img src="{{ $resized.RelPermalink }}" alt="{{ .Name }}" style="width: 70%" />
    </div>

    {{ $image := .Resources.GetMatch "*lines*2.jpg" }}
    {{ $resized := $image.Resize $.Params.maxWidth }}
    <div class="grid-image-container">
        <img src="{{ $resized.RelPermalink }}" alt="{{ .Name }}" style="width: 70%" />
    </div>

    {{ $image := .Resources.GetMatch "*lines*3.jpg" }}
    {{ $resized := $image.Resize $.Params.maxWidth }}
    <div class="grid-image-container" style="margin-bottom: 20%">
        <img src="{{ $resized.RelPermalink }}" alt="{{ .Name }}" style="width: 70%" />
    </div>

    {{ $image := .Resources.GetMatch "*lines*4.jpg" }}
    {{ $resized := $image.Resize $.Params.maxWidth }}
    <div class="grid-image-container">
        <img src="{{ $resized.RelPermalink }}" alt="{{ .Name }}" style="width: 100%" />
    </div>

    <!-- {{ $images := .Resources.Match "*lines*.jpg" }}
    {{ range $index, $element := $images }}
    {{ $resized := .Resize $.Params.maxWidth }}
    <div class="grid-image-container" style="margin-bottom: 20%">
        <img src="{{ $resized.RelPermalink }}" alt="{{ .Name }}" style="width: 70%" />
    </div>
    {{ end }} -->
</div>

{{ end }}
