{{ define "section_content" }}
<article role="article" class="flex-container">
    {{ .Content }}
</article>

{{ $keepAspectRatio := default false .Params.keepAspectRatio }}
{{ $numberOfImagesPerLine := default 1 .Params.numberOfImagesPerLine }}
<div class="grid {{ cond $keepAspectRatio "keep-aspect-ratio" "" }}" 
    style="grid-template-columns: repeat({{ $numberOfImagesPerLine }}, 1fr)">
    {{ $images := .Resources.Match "*single*.jpg" }}
    {{ range $index, $element := $images }}
    <div class="grid-image-container" >
        <img src="{{ $element.RelPermalink }}" alt="{{ .Name }}"/>
    </div>
    {{ end }}
</div>

{{ end }}
